StringWebService/Web References/WebStringWebService/StringWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VowelsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VowelsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VowelsCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtractString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="len" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtractStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtractStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSubString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="substr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSubStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSubStringResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VowelsCountSoapIn">
    <wsdl:part name="parameters" element="tns:VowelsCount" />
  </wsdl:message>
  <wsdl:message name="VowelsCountSoapOut">
    <wsdl:part name="parameters" element="tns:VowelsCountResponse" />
  </wsdl:message>
  <wsdl:message name="ExtractStringSoapIn">
    <wsdl:part name="parameters" element="tns:ExtractString" />
  </wsdl:message>
  <wsdl:message name="ExtractStringSoapOut">
    <wsdl:part name="parameters" element="tns:ExtractStringResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSubStringSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSubString" />
  </wsdl:message>
  <wsdl:message name="CheckSubStringSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSubStringResponse" />
  </wsdl:message>
  <wsdl:portType name="StringWebServiceSoap">
    <wsdl:operation name="VowelsCount">
      <wsdl:input message="tns:VowelsCountSoapIn" />
      <wsdl:output message="tns:VowelsCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtractString">
      <wsdl:input message="tns:ExtractStringSoapIn" />
      <wsdl:output message="tns:ExtractStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSubString">
      <wsdl:input message="tns:CheckSubStringSoapIn" />
      <wsdl:output message="tns:CheckSubStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StringWebServiceSoap" type="tns:StringWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VowelsCount">
      <soap:operation soapAction="http://tempuri.org/VowelsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractString">
      <soap:operation soapAction="http://tempuri.org/ExtractString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSubString">
      <soap:operation soapAction="http://tempuri.org/CheckSubString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StringWebServiceSoap12" type="tns:StringWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VowelsCount">
      <soap12:operation soapAction="http://tempuri.org/VowelsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractString">
      <soap12:operation soapAction="http://tempuri.org/ExtractString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSubString">
      <soap12:operation soapAction="http://tempuri.org/CheckSubString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringWebService">
    <wsdl:port name="StringWebServiceSoap" binding="tns:StringWebServiceSoap">
      <soap:address location="http://localhost:3319/StringWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StringWebServiceSoap12" binding="tns:StringWebServiceSoap12">
      <soap12:address location="http://localhost:3319/StringWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>